.root{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(224, 215, 255) !important;
    padding: 0 20px;
    height: 60px;
    margin-bottom: 20px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.logo{
    
    margin: 0 25px 0 10px;
}
.penButton{
    margin-left: 15px !important;
    width: 40px !important;
    height: 40px !important;
    min-width: 40px !important;
}
.searchBlock{

    position: relative;
    transition:  all 0.3s ease-in-out;

    svg{
        position: absolute;
        left: 10px;
        top: 8px;
        opacity: 0.3;
    }
    input{
        width: 240px;
        height: 38px;
        border: 0;
        border-radius: 10px;
        background: rgb(0,0,0, 0.05);
        font-size: 16px;
        padding-left: 40px;
        border: 1px solid transparent;

        
    }
    &:hover,
    &:focus{
    background-color: #fff;
    border-color: darken(#fff4e2, 15%);
    border-radius: 10px;
   

    }

}

.loginButton{
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    svg{
        margin-right: 10px;
    }
    &:hover{
        color: #024910;
    }
}